<div class="form-group row">
  <div class="btn-group btn-group-toggle offset-sm-2">
    {{#each @days as |dayArr|}}
      {{#let (get dayArr "0") (get dayArr "1") as |day isActive|}}
        <label htmlFor="{{@id}}-{{day.value}}">
          <input
            type="checkbox"
            id="{{@id}}-{{day.value}}"
            name="repeat.weekly.days[{{day.value}}]"
            class="form-control"
            checked={{isActive}}
            {{on "change" (fn @handleChange isActive)}}
          />
          {{day.label}}
        </label>
      {{/let}}

    {{/each}}
  </div>
</div>