<div class="px-3">
  <div class="form-group row">
    <div class="col-sm-2 text-sm-right">
      <label htmlFor={{@id}} class="col-form-label">
        <strong>
          {{@label}}
        </strong>
      </label>
    </div>
    <div class="col-sm-3">
      <select
        id={{@id}}
        name={{@name}}
        ...attributes
        class="form-control"
        value={{@value}}
        {{on "change" @handleChange}}
      >
        {{#each @options as |opt|}}
          <option
            value={{opt.value}}
            selected={{this.isSelected opt.value @value}}
          >{{opt.label}}</option>
        {{/each}}
      </select>
    </div>
  </div>
</div>